.google-cookie
discord.log
settings/*.json
.idea/
*~
*__pycache__*
*.json
*.pyc
*.dll
cogs/*
!cogs/utils
!cogs/cog_download.py
!cogs/customcmds.py
!cogs/debugger.py
!cogs/fc.py
!cogs/fun.py
!cogs/google.py
!cogs/imagedump.py
!cogs/keywordlog.py
!cogs/lockdown.py
!cogs/mal.py
!cogs/misc.py
!cogs/mod.py
!cogs/repl.py
!cogs/replacements.py
!cogs/server.py
!cogs/todo.py
!cogs/translate.py
!cogs/userinfo.py
!cogs/utility.py
settings/*
!settings/*.sample
cogs/utils/temp.txt
