aiohttp==1.0.5
async-timeout==1.1.0
beautifulsoup4==4.5.1
bs4==0.0.1
chardet==2.3.0
decorator==4.0.10
discord.py==0.16.0
google==1.9.3
lxml==3.7.1
multidict==2.1.4
Pillow==3.4.2
plotly==1.12.12
praw==4.1.0
prawcore==0.5.0
pytz==2016.10
requests==2.12.4
six==1.10.0
spice-api==1.0.4
textile==2.3.6
update-checker==0.15
websockets==3.2
