{
    "google_api_key": "",
    "custom_search_engine": "",
    "show_search_term": "True",
    "customcmd_color": "27007A",
    "rich_embed": "on",
    "default_status": "idle",
    "ascii_font": "big",
    "quoteembed_color": "auto",
    "embed_color": "",
    "timezone": "",
    "24hours": "true",
	"password": ""
}